.Roboto-16-400 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.Roboto-24-700 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.Roboto-28-700 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 700;

    @include up($md) {
        font-size: 60px;
    }
}

.Roboto-28-700-no-adaptive {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.Roboto-14-700 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;

    @include up($md) {
        font-size: 28px;
    }
}

.Roboto-16-700 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
}